.c-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
}
.c-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.c-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.c-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.c-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.c-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
