/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("./fonts/Roboto-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("./fonts/Roboto-Medium.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("./fonts/Roboto-Bold.ttf") format("ttf");
  font-display: swap;
}


/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /* colors */
  --global-alpha: #1d3f4e;
  --global-white: #ffffff;
  --global-beta: #23bbff;
  --global-black: #000000;
  --global-selection: var(--global-alpha);
  --global-selection-background: var(--global-beta);
  --global-color-alpha-transparent: #1d3f4ebf;
  --global-color-alpha-x-transparent: #1d3f4e4d;
  --global-color-neutral-xxxx-light: #f5f6fa;
  --global-color-neutral-xxx-light: #e2e3e7;
  --global-color-neutral-xx-light: #caccd4;
  --global-color-neutral-x-light: #b5b6c0;
  --global-color-neutral-light: #a0a1ad;
  --global-color-neutral: #8b8c9a;
  --global-color-neutral-dark: #757787;
  --global-color-neutral-x-dark: #606274;
  --global-color-neutral-xx-dark: #4b4c60;
  --global-color-neutral-xxx-dark: #35374d;
  --global-color-neutral-xxxx-dark: #20223a;
  --global-color-error: #ff3333;
  --global-color-error-transparent: #ff3333bf;
  --global-color-error-x-transparent: #ff33334d;
  /* Font weights */
  --global-default-weight: 500;
  /* Shadows */
  --shadow-neutral: 0 2px 6px rgba(0, 0, 0, 0.04);
  --shadow-box: 0 3px 6px rgba(0, 0, 0, 0.2);
  --shadow-box-dark: 0 6px 12px rgba(0, 0, 0, 0.4);
  /* border radius */
  --global-borderRadius: 3px;
  --global-borderWidth: 1px;
  /* transitions */
  --global-transitionEasing-out: ease-out;
  --global-transitionEasing-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
  --global-transitionDuration-alpha: 0.1s;
  --global-transitionDuration-beta: 0.2s;
  --global-transitionDuration-gamma: 0.3s;
  /* Grid System */
  --global-baseline: 8px;
  --global-whitespace: calc(var(--global-baseline) * 3);
  /* 24 px */
  --global-whitespace-xs: calc(var(--global-baseline) * 0.5);
  /* 4 px */
  --global-whitespace-sm: calc(var(--global-baseline) * 1);
  /* 8 px */
  --global-whitespace-md: calc(var(--global-baseline) * 2);
  /* 16 px */
  --global-whitespace-lg: calc(var(--global-baseline) * 4);
  /* 32 px */
  --global-whitespace-xl: calc(var(--global-whitespace) * 2);
  /* 48 px */
  --global-whitespace-xxl: calc(var(--global-whitespace) * 3);
  /* 72 px */
  --global-label-color: var(--global-color-neutral-xx-dark);
  --global-placeholder-color: var(--global-color-neutral-x-light);
  --global-input-backgroundColor: var(--global-white);
  --global-input-color: var(--global-color-neutral-xxxx-dark);
  --global-input-borderColor: var(--global-color-neutral-xxx-light);
  --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
  --global-input-focus-borderColor: var(--global-accent);
  --global-input-error-borderColor: var(--global-color-error);
  --global-input-focus-boxShadowSpread: 0 0 0 3px;
  --global-input-focus-boxShadowColor: var(--global-color-alpha-x-transparent);
  --global-input-error-boxShadowColor: var(--global-color-error-x-transparent);
}


/*------------------------------------*\
#GENERIC
\*------------------------------------*/


/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  font-size: 16px;
  font-weight: var(--global-default-weight);
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: var(--global-white);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-alpha);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
  background: var(--global-selection-background);
  color: var(--global-selection);
  text-shadow: none;
}

::selection {
  background: var(--global-selection-background);
  color: var(--global-selection);
  text-shadow: none;
}


/*------------------------------------*\
#Elements
\*------------------------------------*/


/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}


/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 36px;
  line-height: 48px;
  margin: 0;
}

h2 {
  font-size: 32px;
  line-height: 80px;
  margin: 0 0 24px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 24px;
}

h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 24px;
}

ul,
ol {
  padding-left: 24px;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  transition: all var(--global-transitionDuration-alpha);
  color: var(--color-input-alpha);
  outline-color: var(--color-alpha);
  outline-width: medium;
  outline-offset: 2px;
}

a:visited,
a:active {
  color: var(--color-input-alpha-x-light);
}

a:hover,
a:focus {
  color: var(--color-input-alpha-x-light);
}

label,
input {
  display: block;
}

select {
  width: 100%;
}

input::placeholder {
  color: var(--color-neutral-light);
}

span {
  color: var(--global-beta);
}

li {
  background: url('./images/Arrow.png') no-repeat left top;
  padding: 0 0 4px 32px;
  list-style: none;
  margin: 0;
}


/*------------------------------------*\
#OBJECTS
\*------------------------------------*/


/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  position: relative;
  padding: 24px 24px 0;
}


/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 68em;
  /* 100 * 16px = 1600 */
  width: 100%;
}


/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
  list-style: none;
  padding: 0;
}


/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}


/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}


/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-header {
  position: fixed;
  display: none;
  justify-content: space-between;
  margin: 40px 60px;
  z-index: 10;
  top: 0;
  left: 0;
}

@media (min-width: 992px) {
  .c-header {
    display: flex;
  }
}

.c-header__nav {
  display: none;
}

@media (min-width: 992px) {
  .c-header__nav {
    position: fixed;
    right: 60px;
    display: flex;
  }
}

.c-nav__line {
  content: "";
  display: block;
  width: 160px;
  height: 2px;
  background-color: white;
  margin: auto;
}

.c-header__line {
  height: 2px;
  width: 200px;
  color: white;
}

.c-logo {
  fill: white;
}

.c-logo:hover,
.c-logo:active {
  fill: var(--global-black);
}

.c-header__logo {
  fill: white;
}

.c-header__logo:hover,
.c-header__logo:active {
  fill: var(--global-black);
}

.c-left__content {
  display: none;
}

@media (min-width: 992px) {
  .c-left__content {
    position: fixed;
    bottom: 40px;
    left: 80px;
    display: flex;
    flex-flow: column;
  }
}

.c-left__item {
  margin: 16px 0;
  fill: white;
}

.c-left__item:hover,
.c-left__item:active {
  fill: var(--global-black);
}

.c-left__line {
  content: "";
  display: block;
  width: 2px;
  height: 240px;
  background-color: white;
  margin: 24px auto;
}

.c-nav__item {
  margin-left: 40px;
  text-decoration: none;
  display: flex;
  margin: auto 20px;
}

.c-nav__item--button {
  border: 2px solid white;
  padding: 8px 24px;
  border-radius: 2px;
}

.c-nav__item--button:hover,
.c-nav__item--button:active {
  border: 2px solid black;
}

.c-top__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 75%;
  width: 100%;
  background-image: url('images/Background_33.png');
  background-size: cover;
  background-position: center center;
}

.c-top__overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  height: 75%;
  background-color: rgba(79, 172, 212, 1);
  z-index: 1;
  width: 100%;
}

.c-nav__item {
  font-size: 20px;
}

.c-nav__item:hover,
.c-nav__item:active {
  color: var(--global-black);
}

.c-top__content {
  z-index: 2;
  display: flex;
  flex-flow: column;
  position: relative;
  margin-top: 100px;
  justify-content: center;
}

@media (min-width: 992px) {
  .c-top__content {
    flex-flow: row;
  }
}

.c-top__face {
  max-height: 300px;
  margin: auto;
}

@media (min-width: 992px) {
  .c-top__face {
    max-height: 400px;
  }
}

.c-top__text {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: var(--global-alpha);
}

.c-top__name {
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  line-height: normal;
}

@media (min-width: 375px) {
  .c-top__name {
    font-size: 64px;
  }
}

@media (min-width: 992px) {
  .c-top__text {
    font-size: 40px;
  }

  .c-top__name {
    font-size: 110px;
  }
}

.c-top__left {
  display: flex;
}

.c-top__right {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-top: 24px;
}

@media (min-width: 992px) {
  .c-top__right {
    margin-left: 40px;
    margin-top: 0;
  }
}

.c-container__content {
  margin-top: 100px;
}

@media (min-width: 425px) {
  .c-container__content {
    margin-top: 200px;
  }
}

@media (min-width: 992px) {
  .c-container__content {
    margin-top: 360px;
  }
}

.c-content {
  display: block;
  margin: 0 24px;
}

@media (min-width: 992px) {
  .c-content {
    margin: auto;
  }
}

.c-content__about {
  display: flex;
  flex-flow: column-reverse;
}

@media (min-width: 992px) {
  .c-content__about {
    flex-flow: row;
  }
}

.c-content__right {
  display: flex;
  justify-content: center;
}

.c-content__name {
  line-height: normal;
}

.c-content__title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 16px;
  display: flex;
  flex-flow: row;
}

.c-content__line {
  content: "";
  display: none;
  height: 2px;
  width: 400px;
  background-color: white;
  margin: auto 32px;
}

@media (min-width: 992px) {
  .c-content__line {
    display: block;
  }
}

.c-content__empty {
  height: 1px;
  width: 100%;
  margin: auto;
}

.c-content__projects {
  margin-top: -120px;
}

.c-content__other{
  margin-top: -100px;
}

@media (min-width: 992px) {
  .c-content__other{
    margin-top: -360px;
  }
}

@media (min-width: 992px) {
  .c-content__projects {
    margin-top: -200px;
  }
}

.c-projects__title {
  display: flex;
  justify-content: space-between;
}

.c-about__title {
  display: none;
}

.c-about__list {
  margin-top: 32px;
  display: flex;
}

li {
  margin-bottom: 16px;
}

.c-list {
  padding: 0;
}

.c-list__right {
  padding-left: 0;
}

@media (min-width: 768px) {
  .c-list__right {
    padding-left: 64px;
  }
}

.c-content__project__Right {
  display: flex;
  flex-flow: column;
}

.c-content__project__Left {
  display: flex;
  flex-flow: column-reverse;
}

@media (min-width: 992px) {
  .c-content__project__Right {
    flex-flow: row;
  }

  .c-content__project__Left {
    flex-flow: row;
  }
}

.c-project__content {
  z-index: 4;
  margin-top: 32px;
}

.c-project_img {
  box-shadow: var(--shadow-box);
}

.c-content__project__Right .c-project__content {
  text-align: center;
  margin-bottom: 80px;
}

.c-content__project__Left .c-project__content {
  text-align: center;
  margin-bottom: 80px;
}

@media (min-width: 992px) {
  .c-content__project__Right .c-project__content {
    text-align: right;
    margin-bottom: 128px;
  }

  .c-content__project__Left .c-project__content {
    text-align: left;
    margin-bottom: 128px;
  }
}

.c-project__label {
  font-weight: 700;
  color: var(--global-beta);
  margin-top: 24px;
}

.c-project__name {
  line-height: normal;
  font-size: 32px;
  margin-bottom: 16px;
}

.c-project__details {
  background-color: var(--global-beta);
  padding: 24px;
  box-shadow: var(--shadow-box);
}

@media (min-width: 992px) {
  .c-content__project__Left .c-project__details {
    margin-right: -80px;
  }

  .c-content__project__Right .c-project__details {
    margin-left: -80px;
  }
}

.c-project__labels {
  margin-top: 24px;
}

.c-project__links {
  margin-top: 16px;
  fill: white;
}

.c-project__links:hover,
.c-project__links:active {
  fill: var(--global-black);
}

.c-project__link {
  fill: white;
}

.c-project__link:hover,
.c-project__link:active {
  fill: var(--global-black);
}


/*
    Component: custom toggle
    ---
    toggle switches for cards
*/

.c-custom-toggle {
  --toggle-backgroundColor: var(--global-color-neutral-xxxx-light);
  --toggle-borderColor: var(--global-input-borderColor);
  --toggle-focus-borderColor: var(--global-input-focus-borderColor);
  --toggle-checked-borderColor: var(--global-accent);
  --toggle-checked-backgroundColor: var(--global-accent);
  --toggle-focus-boxShadow: var(--global-input-focus-boxShadowSpread) var(--global-input-focus-boxShadowColor);
  --toggle-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
  --toggle__switch-backgroundColor: White;
  --toggle__switch-checked-backgroundColor: White;
  --toggle__switch-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
  display: flex;
  align-items: center;
}

.c-custom-toggle--inverted {
  flex-direction: row-reverse;
}

.c-custom-toggle__fake-input {
  display: block;
  height: 24px;
  width: 48px;
  margin-right: 16px;
  background-color: var(--toggle-backgroundColor);
  border-radius: 32px;
  border: 1px solid var(--toggle-borderColor);
  transition: var(--toggle-transition);
  box-shadow: var(--toggle-boxShadow, 0);
  margin-left: var(--global-whitespace);
}

.c-custom-toggle--inverted .c-custom-toggle__fake-input {
  margin-right: 0;
}

.c-custom-toggle__fake-input::after {
  position: relative;
  display: block;
  content: "";
  height: 22px;
  width: 22px;
  border-radius: 22px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--toggle__switch-backgroundColor);
  transition: var(--toggle__switch-transition);
}


/* focused and active state */

.c-option--hidden:focus+.c-custom-toggle,
.c-option--hidden:active+.c-custom-toggle {
  --toggle-borderColor: var(--toggle-focus-borderColor);
  --toggle-boxShadow: var(--toggle-focus-boxShadow);
}


/* checked state */

.c-option--hidden:checked+.c-custom-toggle {
  --toggle-backgroundColor: var(--toggle-checked-backgroundColor);
  --toggle-borderColor: var(--toggle-checked-borderColor);
  --toggle__switch-backgroundColor: var(--toggle__switch-checked-backgroundColor);
}

.c-option--hidden:checked+.c-custom-toggle .c-custom-toggle__fake-input::after {
  transform: translate(24px, 0);
}


/* special active state */

.c-option--hidden:active+.c-custom-toggle .c-custom-toggle__fake-input::after {
  width: 28px;
}

.c-option--hidden:active:checked+.c-custom-toggle .c-custom-toggle__fake-input::after {
  margin-left: -6px;
}

.c-content__grid {
  display: grid;
  grid-gap: 40px;
  margin-top: 40px;
  margin-bottom: 80px;
}

@media (min-width: 992px) {
  .c-content__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .c-content__row {
    grid-column: span 3;
  }
}

.c-content__cube {
  background-color: var(--global-beta);
  height: 336px;
  padding: 32px;
  position: relative;
}

.c-cube__icons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.c-cube__title {
  margin-top: 24px;
  font-size: 32px;
}

.c-cube__text {
  margin-top: 16px;
}

.c-cube__labels {
  font-size: 12px;
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: var(--global-alpha);
  font-weight: 700;
}

.c-content__button {
  display: flex;
  justify-content: center;
  margin-bottom: 128px;
}

@media (min-width: 992px) {
  .c-content__button {
    margin-bottom: 80px;
  }
}

.c-content__timeline {
  text-decoration: none;
  font-size: 24px;
  border: 2px solid white;
  border-radius: 2px;
  padding: 8px 32px;
}

.c-content__timeline:hover,
.c-content__timeline:active {
  border-color: var(--global-black);
  color: var(--global-black);
}

.c-contact__title {
  display: flex;
  flex-flow: row;
}

.c-title__left {
  margin-left: 0;
  width: 100%;
}

.c-title__right {
  margin-right: 0;
  width: 100%;
}

.c-title__text {
  font-size: 40px;
}

.c-content__head {
  font-size: 80px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-align: center;
}

.c-content__text {
  width: 75%;
  margin: auto;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 48px;
}

.c-content__contact {
  margin-top: -80px;
}

.c-content__contact--button {
  text-decoration: none;
  font-size: 24px;
  border: 2px solid white;
  border-radius: 2px;
  padding: 8px 32px;
}

.c-content__contact--button:hover,
.c-content__contact--button:active {
  border-color: var(--global-black);
  color: var(--global-black);
}

@media (min-width: 992px) {
  .c-content__contact {
    margin-top: -280px;
  }
}

.c-title__text {
  text-align: center;
  width: 100%;
}

.c-show-navbar {
  opacity: 1;
  transition: all .3s ease-in-out;
}

.c-hide-navbar {
  opacity: 0;
  transition: all .3s ease-in-out;
}

.c-hide-navbar a {
  cursor: default;
}

/*
    Component: Cookies
    ---
    Cookie banner
*/

.c-cookies {
  position: fixed;
  background-color: var(--global-beta);
  bottom: 32px;
  left: 50%;
  width: 384px;
  margin-left: -192px;
  box-shadow: var(--shadow-box);
  z-index: 2;
}

@media (min-width: 992px) {
  .c-cookies {
    left: 128px;
    bottom: 64px;
    margin-left: 0;
  }
}

.c-cookies__content {
    margin: 32px;
    padding-bottom: 8px;
}

.c-cookies__title {
  font-size: 24px;
  font-weight: 600;
  color: var(--global-alpha);
}

.c-cookies__hidden {
  display: none;
}

.c-cookies-confirmed {
  padding: 8px 24px;
  color: var(--global-alpha);
  background-color: var(--global-beta);
  border: 2px solid var(--global-alpha);
  border-radius: 2px;
  font-size: 24px;
  font-weight: 600;
}

.c-cookies-confirmed:hover {
  color: var(--global-white);
  border: 2px solid var(--global-white);
  cursor: pointer;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/


/*
    Utilities: grid
    ---
    Utility classes to put specefic grid size onto elements
*/

@media (min-width: 992px) {
  .u-x-span-1-bp3 {
    grid-column: span 1;
  }

  .u-x-span-2-bp3 {
    grid-column: span 2;
  }

  .u-x-span-3-bp3 {
    grid-column: span 3;
  }

  .u-x-span-4-bp3 {
    grid-column: span 4;
  }

  .u-x-span-5-bp3 {
    grid-column: span 5;
  }

  .u-x-span-6-bp3 {
    grid-column: span 6;
  }

  .u-x-span-7-bp3 {
    grid-column: span 7;
  }

  .u-x-span-8-bp3 {
    grid-column: span 8;
  }

  .u-x-span-9-bp3 {
    grid-column: span 9;
  }

  .u-x-span-10-bp3 {
    grid-column: span 10;
  }

  .u-x-span-11-bp3 {
    grid-column: span 11;
  }

  .u-x-span-12-bp3 {
    grid-column: span 12;
  }

  .u-x-span-13-bp3 {
    grid-column: span 13;
  }

  .u-x-span-14-bp3 {
    grid-column: span 14;
  }

  .u-x-span-15-bp3 {
    grid-column: span 15;
  }

  .u-x-span-16-bp3 {
    grid-column: span 16;
  }

  .u-x-span-17-bp3 {
    grid-column: span 17;
  }

  .u-x-span-18-bp3 {
    grid-column: span 18;
  }

  .u-x-span-19-bp3 {
    grid-column: span 19;
  }

  .u-x-span-20-bp3 {
    grid-column: span 20;
  }

  .u-x-span-21-bp3 {
    grid-column: span 21;
  }

  .u-x-span-22-bp3 {
    grid-column: span 22;
  }

  .u-x-span-23-bp3 {
    grid-column: span 23;
  }

  .u-x-span-24-bp3 {
    grid-column: span 24;
  }

  .u-y-span-1-bp3 {
    grid-row: span 1;
  }

  .u-y-span-2-bp3 {
    grid-row: span 2;
  }

  .u-y-span-3-bp3 {
    grid-row: span 3;
  }

  .u-y-span-4-bp3 {
    grid-row: span 4;
  }

  .u-y-span-5-bp3 {
    grid-row: span 5;
  }
}


/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
  color: var(--color-neutral);
}

.u-color-neutral-dark {
  color: var(--color-neutral-dark);
}


/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
  padding-top: 0 !important;
}

.u-mb-clear {
  margin-bottom: 0 !important;
}

.u-mb-xs {
  margin-bottom: 4px !important;
}

.u-mb-sm {
  margin-bottom: 8px !important;
}

.u-mb-md {
  margin-bottom: 16px !important;
}

.u-mb-lg {
  margin-bottom: 32px !important;
}

.u-mb-xl {
  margin-bottom: 48px !important;
}


/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
  max-width: 27em !important;
}

.u-max-width-sm {
  max-width: 39em !important;
}

.u-max-width-md {
  max-width: 50em !important;
}

.u-max-width-lg {
  max-width: 85em !important;
}

.u-max-width-none {
  max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
  text-align: center;
}

.u-align-center {
  margin: 0 auto;
}


/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
  font-size: 14px;
}

.u-hidden {
  display: none !important;
}


/*------------------------------------*\
#MEDIA
\*------------------------------------*/


/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/


/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/


/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/


/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/


/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/


/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/


/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}